app_debug = true[app]default_timezone = Asia/Shanghaiapp_status=devhost=[lang]default_lang = zh-cn[log]channel=filehost=127.0.0.1close=false[cache]driver=fileprefix=c_expire=86400[session]type=filestore=redisvar_session_id=sid_prefix=past_name=past_name[redis]host=127.0.0.1port=6379password=[database]type=mysqlhostname=127.0.0.1database=pastusername=rootpassword=prefix=charset = utf8mb4[database_admin]type=mysqlhostname=127.0.0.1database=pastusername=rootpassword=prefix=charset = utf8mb4[cos]appId=secretId=secretKey=bucket=region=bucket=domain=[captcha]appid=appkey=